---
import { Image } from "astro:assets";

interface Props {
	title: string;
	description?: string;
	imageSrc?: string;
}

const { title, description, imageSrc } = Astro.props;
---

<div class="gap-2 border-2 h-96 p-2 rounded-xl bg-cover bg-center group" style=`background-image: url(${imageSrc});`>
	<div class="flex flex-col gap-2 backdrop-blur bg-slate-600/50 group-hover:opacity-0 transition-opacity rounded-xl p-4 text-white border border-slate-600">
		<h3 class="text-2xl font-bold">{title}</h3>
		{description && <p>{description}</p>}
	</div>
</div>
