<div class="flex justify-items-center place-content-center min-w-full">
	<div class="bg-slate-400 w-full flex gap-2">
		<div>
			<h1 class="text-3xl text-white">vspace.one</h1>
		</div>
		<div class="border flex gap-2">
			<a>Tour</a>
			<a>Ausstattung</a>
			<a>Mitmachen</a>
			<a>Termine</a>
			<a>F&A</a>
			<a>Unterstützen (page)</a>
			<a>Wiki (extern)</a>
		</div>
		<div class="border">
			<a>Social (popover)</a>
		</div>
	</div>
</div>